---
import MkcLayout from '../layouts/MkcLayout.astro';
import TournamentRounds from '../components/react/TournamentRounds';
---

<MkcLayout title="Gironi & Classifiche - MKC Kings Cup">
  <main class="py-12 bg-black min-h-screen text-white">
    <TournamentRounds client:load />
  </main>
</MkcLayout>